*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{font-family: 'Montserrat', sans-serif;}

h1, h2, h3, h4, h5, h6, p{margin: 0;}

ul{padding: 0; margin: 0;}

li{list-style: none;}

.container{
    width: 100%;
    max-width: 1148px;
}

.button{
    padding: 17px 22px;
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    text-transform: uppercase;
    border: 3px solid #59AC7A;
    outline: none;
    background: #59AC7A;
    border-color: #59AC7A;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.button:hover{
    background: transparent !important;
    color: #59AC7A !important;
    border: 3px solid #59AC7A !important;
}

.hero__section{
    background-image: url(../image/bg/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* =====nav bar css start here===== */
.nav__inner{
    padding: 3px 0 8px;
    border-bottom: 1px solid #fff;
}

.nav__menu ul{
    gap: 34px;
}

.nav__menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

button:last-child{
    background: #fff;
    color: #59AC7A;
    border: 3px solid #fff;
}

.nav__btn{
    gap: 14px;
}

.mobile__menu{
    padding: 30px;
    /* background: #00000061; */
    background: tomato;
    width: 50%;
    height: 100vh;
    overflow-y: scroll;
    transform: translateX(-100%);
    transition: 0.3s ease-in-out;

    position: absolute;
    top: 0;
    left: 0;
}

.menu__open{
    transform: translateX(0);
}

.menu__bar img{
    cursor: pointer;
}

.mobile__menu .topper{
    margin-bottom: 40px;
}

.mobile__menu .topper img{
    width: 100px;
}

.mobile__menu .topper span svg{
    cursor: pointer;
    font-size: 28px;
    color: #fff;
}

.mobile__menu ul{
    margin-bottom: 30px;
}

.mobile__menu ul li a{
    padding: 18px 0;
    width: 100%;
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    border-bottom: 1px solid #fff;
}
/* =====nav bar css end here===== */


/* =====banner section css start here===== */
.banner__content{
    width: 100%;
    /* max-width: 567px; */
}

.banner__content h1{
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 12px;
}

.banner__content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.banner__form{
    background: #fff;
}

.banner__form .form__title span{
    font-size: 14px;
    font-weight: 500;
    color: #858585;
    margin: 15px 0;
}

.banner__form .form__title img{
    height: 90px;
    /* width: 131px; */
}
/* =====banner section css end here===== */


/* =====contact section css start here===== */
.contact__section{
    background: #fff;
    background-image: url(../image/bg/contact.png);
    padding: 141px 0 105px;
}

.office__title h2{
    font-size: 64px;
    line-height: 94px;
    font-weight: 700;
    margin-bottom: 32px;
}

.office__info h5{
    font-size: 24px;
    line-height: 35px;
    font-weight: 700;
    margin-bottom: 24px;
}

.office__title p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #303030;
    margin-top: 33px;
    margin-bottom: 46px;
    
    width: 100%;
    max-width: 515px;
}

.office__info .info{
    display: flex;
    gap: 10px;
    align-items: center;
    
    width: 100%;
    max-width: 394px;
    margin-bottom: 19px;
}

.office__info .info a{
    text-decoration: none;
    color: #303030;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}
/* =====contact section css end here===== */