*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{font-family: 'Montserrat', sans-serif;}

h1, h2, h3, h4, h5, h6, p{margin: 0;}

ul{padding: 0; margin: 0;}

li{list-style: none;}

.container{
    width: 100%;
    max-width: 1148px;
}

.button{
    padding: 17px 22px;
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    text-transform: uppercase;
    border: 3px solid #59AC7A;
    outline: none;
    background: #59AC7A;
    border-color: #59AC7A;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.button:hover{
    background: transparent !important;
    color: #59AC7A !important;
    border: 3px solid #59AC7A !important;
}

.hero__section{
    background-image: url(../image/bg/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* =====nav bar css start here===== */
.nav__inner{
    padding: 3px 0 8px;
    border-bottom: 1px solid #fff;
}

.nav__menu ul{
    gap: 34px;
}

.nav__menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

button:last-child{
    background: #fff;
    color: #59AC7A;
    border: 3px solid #fff;
}

.nav__btn{
    gap: 14px;
}

.mobile__menu{
    padding: 30px;
    /* background: #00000061; */
    background: tomato;
    width: 50%;
    height: 100vh;
    overflow-y: scroll;
    transform: translateX(-101%);
    transition: 0.3s ease-in-out;

    position: absolute;
    top: 0;
    left: 0;
}

.menu__open{
    transform: translateX(0);
}

.menu__bar img{
    cursor: pointer;
}

.mobile__menu .topper{
    margin-bottom: 40px;
}

.mobile__menu .topper img{
    width: 100px;
}

.mobile__menu .topper span svg{
    cursor: pointer;
    font-size: 28px;
    color: #fff;
}

.mobile__menu ul{
    margin-bottom: 30px;
}

.mobile__menu ul li a{
    padding: 18px 0;
    width: 100%;
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    border-bottom: 1px solid #fff;
}
/* =====nav bar css end here===== */


/* =====banner section css start here===== */
.banner__content{
    width: 100%;
    /* max-width: 567px; */
}

.banner__content h1{
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 12px;
}

.banner__content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

    width: 100%;
    max-width: 547px;
}

.banner__form{
    background: #fff;
    width: 100%;
    max-width: 467px;
    margin-top: 29px;
    margin-bottom: 62px;
    margin-left: auto;
}

.banner__form .form__title span{
    font-size: 14px;
    font-weight: 500;
    color: #858585;
    margin: 15px 0;
}

.banner__form .form__title img{
    height: 90px;
    /* width: 131px; */
}

.banner__form .nav-link{
    /* border: none; */
    outline: none;
}

div#nav-tab{
    border-bottom: none;
    display: flex;
    justify-content: start;
    border-radius: 5px !important;
    margin-bottom: 20px;
}

#nav-tab .nav-link{
    width: 50%;
    /* border: 2px solid transparent; */
    font-size: 18px;
    color: #59AC7A;
    border-top-right-radius: unset;
    border-top-left-radius: unset;
    border-radius: 5px !important;
}

.nav-link.active{
    border: 3px solid #59AC7A !important;
}

.tab-content{
    border: unset !important;
    background: transparent;
}

.tab-content h5{
    font-size: 16px;
    font-weight: 600;
    color: #303030;
    margin-bottom: 5px;
}

.tab-pane .chs__btn{
    display: grid !important;
    grid-template-columns: auto auto;
    gap: 15px;
    margin-bottom: 15px;
}

.tab-pane .chs__btn button{
    font-size: 20px;
    font-weight: 600;
    outline: none;
    border: 1px solid #d5d5d5;
    background: transparent;
    padding: 10px 0;
    border-radius: 5px;
    color: rgba(147, 147, 147, 0.952);
}

.chs__input{position: relative;}

.chs__input label{
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.chs__input input, .chs__select select{
    width: 100%;
    padding: 10px 5px 10px 50px ;
    outline: none;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
}

.chs__select{
    margin-bottom: 15px;
}

.chs__select select{
    padding-left: 5px;
}

.chs__select p{
    font-size: 14px;
    font-weight: 600;
    color: #303030;
    margin: 8px 0 5px;
}

.tab-pane button.button{
    width: 100%;
    background: #59AC7A;
    color: #fff;
    border: 3px solid #59AC7A;
    border-radius: 5px;
}

@media screen and (max-width: 767px) {
    .banner__content{
        text-align: center;
        margin-bottom: 13px;
    }

    .banner__content h1{
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
    }

    .banner__content p{
        margin: auto;
    }

    .banner__form{
        margin: auto;
        margin-bottom: -10px;
    }
}
/* =====banner section css end here===== */


/* =====contact section css start here===== */
.contact__section{
    background: #fff;
    background-image: url(../image/bg/contact.png);
    background-repeat: no-repeat;
    padding: 141px 0 105px;
}

.contact__info{
    margin-bottom: 84px;
}

.office__title h2{
    font-size: 64px;
    line-height: 94px;
    font-weight: 700;
    margin-bottom: 32px;
}

.office__info h5{
    font-size: 24px;
    line-height: 35px;
    font-weight: 700;
    margin-bottom: 24px;
}

.office__title p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #303030;
    margin-top: 33px;
    margin-bottom: 46px;
    
    width: 100%;
    max-width: 515px;
}

.office__info .info{
    display: flex;
    gap: 10px;
    align-items: center;
    
    width: 100%;
    max-width: 394px;
    margin-bottom: 19px;
}

.office__info .info a{
    text-decoration: none;
    color: #303030;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.contact__form{
    width: 100%;
    max-width: 751px;
    margin: auto;
    padding: 32px;
    background: #fff;
    border-radius: 24px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.18); 
}

.contact__form h4{
    font-weight: 700;
    font-size: 32px;
    line-height: 46px;
    margin-bottom: 32px;
}

.contact__top{
    display: flex;
    gap: 20px;
    margin-bottom: 45px;
}

.contact__top input{
    height: 48px;
}

.contact__form label{
    padding: 0 5px;
    background: #fff;
}

.contact__form input,
 .contact__form textarea{
    width: 100%;
    border: 1px solid #1E1E1E;
    outline: none;
    padding: 0 8px;
    border-radius: 2px;
}

.contact__form textarea{
    padding: 8px;
}

.contact__form .inner__label{
    position: relative;
}

.inner__label.text-label{
    margin-bottom: 32px;
}

.contact__form label{
    position: absolute;
    left: 25px;
    top: -10px;
    font-size: 16px;
    line-height: 20px;
    color: #1E1E1E;
}

.contact__form .button{
    background: #59AC7A;
    border: 3px solid #59AC7A;
    border-radius: 2px;
    color: #fff;
}

@media screen and (max-width: 991px) {
    .office__title h2{
        font-size: 45px;
        line-height: 64px;
        margin-bottom: 14px;
    }

    .office__title p{
        margin-top: 0;

    }
}

@media screen and (max-width: 575px) {
    .office__title h2{
        font-size: 28px;
        line-height: 40px;
    }

    .office__info{
        margin-bottom: 41px;
    }

    .office__info h5{
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 24px;
    }

    .contact__section{
        padding: 176px 0 81px;
    }

    .contact__info{
        margin-bottom: 49px;
    }

    .contact__top{
        flex-direction: column;
        gap: 35px;
        margin-bottom: 39px;
    }
}
/* =====contact section css end here===== */


/* =====news letter section css start here===== */
.news__letter{
    padding: 64px 0;
    background-image: url(../image/bg/newsLetter.png);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

.news__content h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 70px;
}

.news__contact{
    width: 100%;
    max-width: 515px;
    margin-left: auto;
}

.news__contact .news__top{
    position: relative;   
}

.news__contact .news__top label{
    position: absolute;
    left: 25px;
    top: -10px;
    font-size: 16px;
    line-height: 20px;
    color: #1E1E1E;
    background: #fff;
    padding: 0 5px;
}

.news__contact .news__top input{
    width: 100%;
    border: 1px solid #1E1E1E;
    outline: none;
    padding: 0 8px;
    border-radius: 2px;
    height: 48px;
    margin-bottom: 12px;
}

.news__contact .button{
    width: 100%;
    background: #59AC7A;
    border: 3px solid #59AC7A;
    color: #fff;
    border-radius: 2px;
}

@media screen and (max-width: 991px) {
    .news__content h2{
        font-size: 28px;
        line-height: 40px;
    }
}

@media screen and (max-width: 767px) {

    .news__letter{
        padding: 119px 0;
        background-image: url(../image/bg/newsLettersm.png);
    }

    .news__content h2{
        margin-bottom: 39px;
        text-align: center;
    }

    .news__contact{
        margin: auto;
    }
}

/* =====news letter section css end here===== */


/* =====footer section css start here===== */
.footer__section{
    padding: 60px 0 52px;
    background-image: url(../image/bg/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.footer__top{
    padding-bottom: 49px;
    border-bottom: 1px solid rgb(255 255 255 / 53%);
}

.footer__top a{
    margin-bottom: 60px;
}

.footer__top ul{
    gap: 45px;
}

.footer__bottom{
    margin-top: 26px;
}

.footer__bottom ul{
    gap: 34px;
}

.footer__bottom ul li a{
    color: #fff;
    text-decoration: none;
}

.footer__bottom .footer__btn{
    display: flex;
    gap: 14px;
}

@media screen and (max-width: 991px) {
    .footer__bottom ul{
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 38px;
    }
}
/* =====footer section css start here===== */